/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.main,
.header {
  width: var(--page-width);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--base-font), var(--backup-font);
  font-variation-settings: "wght" var(--text-weight);
  background-image: var(--background-image);
  background-size: cover;
  font-size: var(--font-size);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: var(--page-background-color);
}

.main {
  display: grid;
  justify-items: center;
  margin-block-end: 100px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
  outline: 2px solid var(--color);
  background-color: var(--background-color);
  font-weight: var(--text-weight);
  font-family: var(--backup-font);
  margin-block: 100px;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
}

.header_title {
  margin-block-end: 20px;
  line-height: 100%;
  font-size: var(--header-title-font-size);
  font-weight: var(--text-weight);
}

.header_subtitle {
  font-size: var(--header-subtitle-font-size);
}

.article {
  background-color: var(--background-color);
  margin-block-end: 50px;
  width: 100%;
  border: 2px solid var(--color);
}

.article_title {
  font-variation-settings: "wght" var(--title-weight);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size);
  padding: 5px 10px;
}

.images_article {
  position: relative;
  outline: var(--main-border);
  margin: 0px 0px 2px 0px;
}

.article_label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  right: 25px;
  top: 27px;
  font-size: 14px;
  font-family: var(--backup-font);
  font-weight: var(--text-weight);
  color: #000;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--shadow-color);
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))) {
  .card_label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
  }
}

.card_image {
  display: block;
  object-position: center;
  object-fit: cover;
  max-block-size: 100%;
  inline-size: 100%;
  height: 698px;
}

.article_info {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: 25px 25px;
}

.article_text:last-of-type {
  margin-block-end: 25px;
}

.article_text:not(:last-child) {
  margin-block-end: 25px;
}

/*ВСЕ ПРО КНОПКУ НИЖЕ*/

.button_block {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}

.card__icon-button {
  border: none;
  padding-inline: 0;
  background-color: transparent;
  outline: 2px solid transparent;
  transition: outline var(--time_step) ease;
}

.sparks {
  opacity: 0;
}

.heart {
  transform-origin: center;
}

.card__like-button {
  align-self: end;
  width: 130px;
  height: 38px;
  padding-block: 10.5px;
}

.like-icon {
  width: 39px;
  height: 36px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.decorated_button_text {
  font-size: var(--button-font-size);
  mix-blend-mode: difference;
}

.button__text {
  display: flex;
  justify-content: center;
}

.decoration_button {
  position: relative;
  background-color: var(--background-color);
  color: #fff;
  border: 2px solid var(--color);
  cursor: pointer;
  font-family: var(--backup-font);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.decoration_button::before {
  content: "";
  position: absolute;
  background: var(--color);
  inset: 0;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.decoration_button:focus-visible {
  box-shadow: 2px 2px 0 1px var(--color);
}

.decoration_button:focus {
  outline: none;
}

.decoration_button:hover::before {
  translate: 0%;
}

.save_button {
  cursor: pointer;
  position: relative;
  display: flex;
  margin: 0 auto 80px;
  width: 340px;
  height: 55px;
  align-items: center;
  justify-content: center;
}
/*ВСЕ ПРО КНОПКУ ВЫШЕ*/

/*ДИАЛОГ*/

.floppy_svg {
  block-size: 21px;
  width: 21px;
  mix-blend-mode: difference;
  position: relative;
  color: white;
  z-index: 1;
  margin-right: 8px;
}

.dialog_floppy_svg {
  block-size: 40px;
  width: 100px;
  mix-blend-mode: difference;
  position: relative;
  color: white;
}

.mix_difference {
  mix-blend-mode: difference;
  background-color: transparent;
  fill: white;
  color: #fff;
}

.floppy_dialog[open] {
  inline-size: 353px;
  flex-shrink: 0;
  border: var(--main-border);
  padding-block: 30px;
  justify-items: center;
}

.floppy_dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

body:has(.floppy_dialog[open]) {
  overflow: hidden;
}

.dialog_label {
  font-family: var(--backup-font);
  align-self: flex-start;
  text-align: left;
  line-height: 150%;
  font-weight: 400;
  width: fit-content;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  font-size: var(--button-font-size);
  text-transform: uppercase;
}

.dialog_decoration_text {
  font-size: var(--button-font-size);
  mix-blend-mode: difference;
  text-transform: uppercase;
}

.dialog_description {
  display: flex;
  align-items: center;
  width: 293px;
  gap: 12px;
  padding-bottom: 30px;
}

.dialog_button {
  min-block-size: 38px;
  inline-size: 100%;
}

.button_ok {
  display: flex;
  justify-content: center;
  width: 293px;
}


/*ФИЛЬТРЫ КАРТОЧЕК НИЖЕ*/

.filter__brightness {
  filter: brightness(100%);
}

.filter__opacity {
  filter: brightness(200%) opacity(0.8);
}

.filter__blur {
  filter: brightness(50%) blur(0.5rem);
}

.filter__sepia {
  filter: brightness(120%) sepia(80%);
}

.filter__saturate {
  filter: brightness(150%) saturate(600%);
}

.filter__hue-rotate {
  filter: brightness(110%) hue-rotate(-90deg);
}

.filter__grayscale {
  filter: brightness(100%) grayscale(0.8);
}

.filter__contrast {
  filter: brightness(100%) contrast(50%);
}

/*ФИЛЬТРЫ КАРТОЧЕК ВЫШЕ*/

@media (width <= 375px) {

  .main,
  .header,
  .footer {
    width: 100%;
  }

  .header_title {
    letter-spacing: normal;
    line-height: 49px;
  }

  .article_info {
    padding: 25px;
  }

  .floppy_svg {
    width: 28px;
    height: 28px;
  }

  .card_label {
    top: 20px;
    right: 10px;
  }

  .card_image {
    height: 372px;
  }

  .save_button {
    flex-direction: column;
    width: 312px;
    height: 84px;
    gap: 8px;
    margin: 0;
  }

  .decorated_button_text {
    margin-right: 2px;
    margin-bottom: 4px;
  }

  .floppy_dialog[open] {
    inline-size: 341px;
    flex-shrink: 0;
    border: var(--main-border);
    padding-block: 30px;
    justify-items: center;
}

.article_label {
  right: 0px;
}
}